header{
  width:1000px;
  margin:0 auto;
  position:relative;
  font-family:alegreya-light;
  font-size:24px;
  color:white;
}

.btn-update {
  border: 1px solid #000000;
  /*anchura, estilo y color borde*/
  padding: 10px;
  /*espacio alrededor texto*/
  background-color: #2e8b4d;
  /*color botón*/
  color: #ffffff;
  /*color texto*/
  text-decoration: none;
  /*decoración texto*/
  text-transform: uppercase;
  /*capitalización texto*/
  font-family: monospace;
  /*tipografía texto*/
  border-radius: 20px;
  /*bordes redondos*/
  font-size: 10px;
  font-weight: bold;
}

.btn-delete {
  border: 1px solid #000000;
  /*anchura, estilo y color borde*/
  padding: 10px;
  /*espacio alrededor texto*/
  background-color: #8b2e2e;
  /*color botón*/
  color: #ffffff;
  /*color texto*/
  text-decoration: none;
  /*decoración texto*/
  text-transform: uppercase;
  /*capitalización texto*/
  font-family: monospace;
  /*tipografía texto*/
  border-radius: 20px;
  /*bordes redondos*/
  font-size: 10px;
  font-weight: bold;
}

.btn-UnPublish{
  border: 1px solid #000000;
  /*anchura, estilo y color borde*/
  padding: 10px;
  /*espacio alrededor texto*/
  background-color: #898b2e;
  /*color botón*/
  color: #ffffff;
  /*color texto*/
  text-decoration: none;
  /*decoración texto*/
  text-transform: uppercase;
  /*capitalización texto*/
  font-family: monospace;
  /*tipografía texto*/
  border-radius: 20px;
  /*bordes redondos*/
  font-size: 10px;
  font-weight: bold;
}

.btn-Publish{
  border: 1px solid #000000;
  /*anchura, estilo y color borde*/
  padding: 10px;
  /*espacio alrededor texto*/
  background-color: #3a5d7e;
  /*color botón*/
  color: #ffffff;
  /*color texto*/
  text-decoration: none;
  /*decoración texto*/
  text-transform: uppercase;
  /*capitalización texto*/
  font-family: monospace;
  /*tipografía texto*/
  border-radius: 20px;
  /*bordes redondos*/
  font-size: 10px;
  font-weight: bold;
}


.container h2 {
  text-align: center;
  margin: 25px auto;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}


.like-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.like-button {
  border-radius: 20px;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 10px 20px;
  border: 2px solid #333;
}

.like-button:hover {
  color: #fff;
  background-color: #333;
}

.like-button.liked {
  color: #af631b;
  border-color: #af631b;
}

/* For mobile screens */
@media (max-width: 768px) {
  .like-button-container {
    flex-direction: column;
  }

  .like-button {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 8px 16px;
    border-width: 1px;
  }
}

.nav-item {
  color: #ff69b4;
  font-style: oblique;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-size: 1.4rem;
}